<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>REGISTER</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>REGISTER</h1>
    <% if (typeof err !== 'undefined') { %>
        <h3><%= err %></h3>
     <% } %>
    <form action="/client" method="post">
        Name:<br>
        <input type="text" name="name">
        <br>
        Address:<br>
        <input type="text" name="address">
        <br>
        Phone Number : <br>
        <input type="text" name="phoneNumber">
        <br>
        Saldo : <br>
        <input type="text" name="saldo">
        <br>
        username : <br>
        <input type="text" name="username">
        <br>
        password : <br>
        <input type="text" name="password">
        <br>
        <input type="submit" value="Submit">
      </form>
</body>
</html>