<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
    <title>Home</title>
</head>

<body>
    <li>
        <a href='http://localhost:3000/'>Log in</a>
    </li>
    <li>
        <a href='/admin'>Log in as Admin</a>
    </li>
    <li>
        <a href='/item'>Shop</a>

    </li>

</body>

</html>